* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --primary-color: #0B274F;
    --secondary-color: #454545;
    --tertiary-color: #626262;
    --grey-color: #D9D9D9;
    --white-color: #FFF;
    --shade-color: #184787;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    width: 900px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

.login-section {
    width: 50%;
    padding: 40px;
    background-color: #ffffff;
}

.logo h1 {
    font-family: 'Times New Roman', serif;
    color: #007bff;
    margin-bottom: 20px;
    font-size: 26px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-container {
    position: relative;
}

.password-container input {
    width: calc(100% - 5px);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.remember-forgot a {
    color: #007bff;
    text-decoration: none;
}

button {
    padding: 12px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.create-account {
    margin-top: 15px;
}

.create-account p {
    color: #333;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}

.info-section {
    width: 50%;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.illustration img {

    
}

.info-text h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.info-text p {
    font-size: 16px;
    text-align: center;
}
